@use '../../styles/helpers'
    
.title
    color: helpers.$g7
    font-size: 30px
    font-weight: 500

.paragraph
    color: helpers.$g5
    font-size: 14px
    font-weight: 400

.hr
    border-top: 2px solid
    &.orange
        border-top-color: helpers.$orange_500
    &.red
        border-top-color: helpers.$red
    &.green
        border-top-color: helpers.$primary_500
    &.blue
        border-top-color: helpers.$blue
