@import '../../styles/helpers'
    
.container
    h2
        color: $g7
        font-size: 18px
        font-weight: 500
        line-height: 28px
    p
        color: $g5
        font-weight: 400
        font-size: 14px
